// Mixins are used with @include [name of the mixin]

@mixin from($breakpoint){
  @media screen and (min-width: map-get($brakpoints, $breakpoint)){
    @content;
  }
}


// Size could be anyone from the $fonts map
@mixin font($size){
  // nth($list, $n) returns an specific element from a list
  font-size: nth(font($size),1);
  line-height: nth(font($size), 2);
}

// Buttons style
@mixin button($type){
  @if $type == primary{
    background: color(accent);
    color: color(white);
  } @else if $type == secondary{
    background: color(secondary);
    color: color(white);
  }
  line-height: 3;
  border: 1px solid color(white);
  font-family: "Zilla Slab", serif;
  @include font(title3);
}
