@import url("https://fonts.googleapis.com/css?family=Zilla+Slab:400,400i,600,600i");
*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif; }

img {
  max-width: 100%; }

.banner {
  background: url("../img/stories.jpg") center/cover no-repeat;
  padding-top: 5em;
  padding-bottom: 5em;
  position: relative; }
  .banner::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(150deg, #D4671F, #434343);
    opacity: 0.4; }
  .banner__copy {
    text-align: center;
    color: #FFF;
    position: relative; }
  .banner__title {
    font-size: 32px;
    line-height: 40px; }
  .banner__subtitle {
    background: rgba(67, 67, 67, 0.7);
    padding: .5em 2em;
    display: table;
    margin-right: auto;
    margin-left: auto; }

.grid-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media screen and (min-width: 1024px) {
    .grid-gallery {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 20px;
      grid-auto-flow: row dense;
      grid-auto-rows: 8em; } }
  .grid-gallery__item {
    width: 47vw;
    height: 47vw; }
    @media screen and (min-width: 640px) {
      .grid-gallery__item {
        width: 31vw;
        height: 31vw; } }
    @media screen and (min-width: 1024px) {
      .grid-gallery__item {
        width: 100%;
        height: 100%; } }
    .grid-gallery__item:nth-child(1) {
      grid-column: span 6;
      grid-row: span 2; }
    .grid-gallery__item:nth-child(2) {
      grid-column: 7 / span 3;
      grid-row: 1 / 2; }
    .grid-gallery__item:nth-child(3) {
      grid-column: 7 / span 3;
      grid-row: 2 / 3; }
    .grid-gallery__item:nth-child(4) {
      grid-column: 10 / span 3;
      grid-row: span 2; }
    .grid-gallery__item:nth-child(5) {
      grid-column: 1 / 4;
      grid-row: 3 / 4; }
    .grid-gallery__item:nth-child(6) {
      grid-column: 4 / span 6;
      grid-row: 3 / 4; }
    .grid-gallery__item:nth-child(7) {
      grid-column: 10 / span 3;
      grid-row: 3 / 4; }
    .grid-gallery__item:nth-child(8) {
      grid-column: span 2;
      grid-row: 4 / 5; }
    .grid-gallery__item:nth-child(9) {
      grid-column: span 3;
      grid-row: 4 / 5; }
    .grid-gallery__item:nth-child(10) {
      grid-column: span 2;
      grid-row: 4 / 5; }
    .grid-gallery__item:nth-child(11) {
      grid-column: span 3;
      grid-row: 4 / 5; }
    .grid-gallery__item:nth-child(12) {
      grid-column: span 2; }
  .grid-gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.logo--main {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.menu,
[class*="menu--"] {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .menu,
    [class*="menu--"] {
      display: flex;
      justify-content: space-around; } }

.menu__link {
  text-decoration: none;
  font-weight: 600;
  color: #434343; }
  .menu__link.active {
    color: #D4671F; }
  @media screen and (min-width: 1024px) {
    .menu__link {
      display: block;
      line-height: 3; } }

.menu--main {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(67, 67, 67, 0.5); }

.section__title {
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

body {
  font-family: 'Zilla Slab', sans-serif;
  font-size: 20px;
  line-height: 30px; }

.title1 {
  font-size: 32px;
  line-height: 40px; }
  @media screen and (min-width: 1024px) {
    .title1 {
      font-size: 50px;
      line-height: 60px; } }

.title2 {
  font-size: 25px;
  line-height: 30px; }
  @media screen and (min-width: 1024px) {
    .title2 {
      font-size: 32px;
      line-height: 40px; } }

.title3 {
  font-size: 20px;
  line-height: 30px; }
  @media screen and (min-width: 1024px) {
    .title3 {
      font-size: 25px;
      line-height: 30px; } }

small,
.small {
  font-size: 16px;
  line-height: 20px; }

.smaller {
  font-size: 14px;
  line-height: 20px; }

.title1 {
  margin-top: 0;
  margin-bottom: 1em; }

.title2,
.title3 {
  margin-top: 1.5em;
  margin-bottom: 1em; }

.small,
.smaller {
  margin-top: 1em;
  margin-bottom: 1em; }

a {
  color: #D4671F; }
