.contact
  h2.contact__title.section__title Contacto
  p.contact__description.section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
  
  form.form.form--contact
    input(name="name" id="form-name" placeholder="Nombre").form__item
    input(type="email" name="email" id="form-email" placeholder="Correo electrónico").form__item
    textarea(name="message" id="form-message" placeholder="Hola ¿En qué te puedo ayudar?").form__item
    input(type="submit" value="Contáctame").form__item.form__submit
