//- l short for layout
.l-first Tu nombre
.l-last
  .social-networks
    a(href="https://facebook.com").icon.icon--facebook
    a(href="https://twitter.com").icon.icon--twitter
    a(href="https://instagram.com").icon.icon--instagram
  
