.gallery#gallery
  h2.gallery__title.section__title Galería
  
  nav.gallery__nav
    ul.menu.menu--section
      li.menu__item: a(href="#").menu__link.active Todo
      li.menu__item: a(href="#").menu__link Personas
      li.menu__item: a(href="#").menu__link Lugares
      li.menu__item: a(href="#").menu__link Naturaleza
  
  .grid-gallery.l-container--full
    -for(var i=1; i<=12; i++)
      .grid-gallery__item
        img(src="img/photo"+i+".jpg").grid-gallery__img
              
    
