<!DOCTYPE html>
html(lang="es")
  head
    title Photo Layout
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    link(href="https://file.myfontastic.com/w62NBAngVKVLrgviQYHPFU/icons.css" rel="stylesheet")
  body
    header.l-container
      block header
    nav.l-container
      block nav
    .banner-container.l-container--full
      block banner
    .gallery-container.l-container.l-section
      block gallery
    .about-container.l-container--full
      block about
    .contact.l-container.l-section
      block contact
    footer.footer.l-container--full
      block footer
