<!DOCTYPE html>
html(lang="es")
  head
    title Photo Layout
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
  
  body
    header
      block header
    nav
      block nav
    .banner-container
      block banner
    .gallery-container
      block gallery
    .about-container
      block about
    .contact
      block contact
    footer
      block footer
