.about-container{
  background: url('../img/about.jpg');
  clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
  background-size: cover;
  background-position: center center;
  padding: 3em;
  position: relative;

  &:before{
    content:"";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: color(primary);
    opacity: 0.3;
  }
}

.about{
  position: relative;
  width: 80%;
  margin-left: 10%;
  @include from(large){
    display: flex;
  }
  &__title{
    color: color(white);
    position: relative;
    text-align: center;
  }
  &__img{
    display: none;
    @include from(large){
      display: block;
      width: 50%;
      box-shadow: 0 10px 10px -5px #000;
      object-fit: cover;
    }
  }

  &__description{
    background: rgba(color(accent), .8);
    color: color(white);
    @include font(small);
    padding: 1em;

    @include from(large){
      width: 50%;
      align-self: center;
      @include font(base);
      margin-left: -2em;
      padding: 1em 3em;
    }
  }
}
